@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#151515;
}



    .mainContent h1{
        padding-top: 20px;
        position: absolute;
        width: 600px;
        height: 60px;
        left: 80px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900px;
        font-size: 40px;
        line-height: 60px;
        
        color: #FFFFFF;
    }

    .subtitle{
        position: absolute;
        width: 558px;
        height: 48px;
        left: 32px;
        top: 400px;
    }

    .form{
        position: absolute;
        width: 558px;
        left: 32px;
        top: 150px;
        color: #FFFFFF;
        

    }

    .mainContent{
        display: flex;
        font-size: 9px;
    }

    .label{
        padding-left: 20px
    }

    .grid{
        max-width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: center;
        box-sizing: border-box;
        max-width: 100%;
        padding-left: 80px;
        
    }